/* map.component.css */

/* styles.css ou map.component.css */
#map {
  height: 800px; /* Define altura completa do contêiner */
  min-height: 400px; /* Define altura mínima */
  width: 100%; /* Define largura completa */
  border: 1px solid #ccc; /* Opcional: borda para destaque */
}


.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



  /*
  O OpenLayers não define automaticamente a largura/altura do mapa. Sem esses estilos, o mapa não seria exibido corretamente.
  */